body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    margin-top: 3em;
}

/* ------------------top part styles-------------------- */
main,
article {
    width: 80%;
    margin: 0 auto;
}

.top-part {
    width: 100%;
    display: flex;
    background-color: black;
    border: 1px solid transparent;
    border-radius: 15px;
    color: white;
    align-items: center;
    margin-bottom: 4em;

}

.top-description {
    width: 40%;
    padding-left: 3em;
}

h1 {
    font-size: 3em;
    margin-bottom: 0px;

}

p {
    font-size: .75em;
    margin-top: 0px;
}

.top-part-image {
    width: 50%;

}

.top-part-image img {
    width: 100%;

}

.anchor-button {
    background-color: #fe004d;
    border: 1px solid transparent;
    padding: 8px 20px;
    border-radius: 10px;
    width: 50%;
}

.anchor-button a {
    text-decoration: none;
    color: white;
    font-size: bold;
}

.fa-angle-right {
    color: white;
    font-size: 1em;
    margin-left: 1em;
}

/* -----------top part style finish here----------- */

/* ----------------buttons starts here---------- */
.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 25%;
    padding-top: 1.5em;
    border: 1px solid black;
    border-radius: 7px;
    height: 50%;
}

.navigate-button {
    padding: 10px 0px;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 7px;
    width: 12em;
    margin-bottom: 1.5em;
    transition: background-color .4s;
}

.navigate-button:hover {
    background-color: #fe004d;
}

.navigate-button a {
    text-decoration: none;
    color: black;
}

/* ----------------buttons style ends here---------- */
/* ----------------blogs style starts here---------- */
.button-blogs-part {
    display: flex;
    margin-bottom: 5em;
}

.blogs {
    width: 75%;
    margin-left: 1em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 1.5em;
    grid-column-gap: 1em;

}

.blog {
    border-radius: 12px;
    box-shadow: 4px 3px 3px gray;
}

.blog-info {
    padding: 0.5em;
}

.blog-image img {
    width: 100%;
}

.blog-button {
    padding: 3px 6px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: .5em;
}

.icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: .75em;
    color: grey;
}

/* ----------------blogs style ends here---------- */
/* ----------------footer style starts here---------- */
footer {
    background-color: black;
    width: 100%;
    text-align: center;
    color: white;
    padding: 1em 0em;
}


ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
}

ul li {
    list-style: none;

}

ul li a {
    text-decoration: none;
    color: white;
    font-size: .75em;
}

.social-icons i {
    padding-right: 1em;
    padding-bottom: 3em;
}

/*-------------footer styles ends here----------------- */
/* --------------match.html styles----------- */
.buttons-matches-part {
    display: flex;
    margin-bottom: 5em;
}

.matches {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 1em;
    justify-items: center;
    margin-left: 1em;
}

.match {
    padding: 1em;
    border-radius: 12px;
    box-shadow: 2px 2px 2px gray;
}

.matches img {
    width: 30%;
}

.match-team {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.match-schedule {
    padding-left: 2em;
}

/*-------button animation---------------- */
.anchor-button:hover {
    animation: bigger-button .1s ease-in;
}

@keyframes bigger-button {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.04);
    }
}