body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
}

/* ------------------top part styles-------------------- */
main {
    width: 80%;
    margin: 0 auto;
}

.top-part {
    width: 100%;
    display: flex;
    background-color: black;
    border: 1px solid transparent;
    border-radius: 15px;
    color: white;
    align-items: center;
    margin-bottom: 4em;

}

.top-description {
    width: 40%;
    padding-left: 3em;
}

h1 {
    font-size: 3em;
    margin-bottom: 0px;

}

p {
    font-size: .75em;
    margin-top: 0px;
}

.top-part-image {
    width: 50%;

}

.top-part-image img {
    width: 100%;

}

.anchor-button {
    background-color: #fe004d;
    border: 1px solid transparent;
    padding: 8px 20px;
    border-radius: 10px;
}

.anchor-button a {
    text-decoration: none;
    color: white;
    font-size: bold;
}

.fa-angle-right {
    color: white;
    font-size: 1em;
    margin-left: 1em;
}

/* -----------top part style finish here----------- */